.hero {
    background-color: $Very-Light-Gray;

    &__image {
        height: 17rem;
        background-image: url(../images/bg-intro-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        &::before {
            //outline: 3px dotted red;
            //outline-offset: -3px;
            content: '';
            margin-inline: .5rem;
            position: absolute;
            inset: 0;
            background-image: url(../images/image-mockups.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
        }

    }

    &__text {
        padding-block: 3.25rem;
        padding-inline: 2rem;
        text-align: center;

        .hero__title {
            font-size: 2.5rem;
            font-weight: 300;
            line-height: 1.1;
            color: $Dark-Blue;
            text-wrap: balance;
        }

        .hero__desc {
            margin-inline: auto;
            line-height: 1.5;
        }
    }
}


@include breakpoint-up(large) {
    body {
        overflow-x: hidden;
    }

    .hero {
        display: flex;
        
        &__image {
            height: 33rem;
            order: 2;
            flex-grow: 1;

            background-image: url(../images/bg-intro-desktop.svg);
            background-size: 145%;
            background-position: left 17% bottom 30%;

            &::before {
                margin-inline: unset;
                inset: unset;
                width: 100%;
                min-height: 130%;
                left: 20%;
                background-position-x: left 10%;
                background-size: cover;
            }
        }

        &__text {
            margin-inline: unset;
            padding-inline-start: 10rem;
            padding-inline-end: 4rem;
            width: 37rem;
            text-align: left;

            .hero__title {
                font-size: 3rem;
            }

            .hero__desc {
                margin-inline: unset;
            }
        }
    }

}
