// Colors

/// Primary

$Dark-Blue: hsl(233, 26%, 24%);
$Dark-Blue-hsl: 233, 26%, 24%;
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);

/// Neutral

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);


// Font sizes
// default: 18px

$font-small: .875rem;       // 14px
$font-xsmall: 1rem;         // 16px
$font-medium: 1.125rem;     // 18px
$font-xmedium: 1.75rem;     // 28px
$font-large: 2.1rem;